---
layout: layouts/home.njk
eleventyNavigation:
  key: Blog
  order: 1
---
<ul class="blog">
  <li class="post-item">
    <div class="meta">Apr 1, 2019 &mdash;</div>
    <a href="https://medium.com/@afcastano/google-appengine-benchmark-f9961ae82e42" target="_blank"><div>Google AppEngine Benchmark</div></a>
  </li>
  <li class="post-item">
    <div class="meta">Jun 19, 2017 &mdash;</div>
    <a href="https://medium.com/@afcastano/reducing-operation-costs-papercut-views-an-iot-application-running-on-the-google-cloud-platform-b1988c2d58df" target="_blank"><div>Google Cloud Platform: Reducing costs of an IoT application</div></a>
  </li>
  <li class="post-item">
    <div class="meta">Aug 15, 2016 &mdash;</div>
    <a href="https://medium.com/@afcastano/monads-for-java-developers-part-2-the-result-and-log-monads-a9ecc0f231bb#.akfc0hizb" target="_blank"><div>Monads for Java developers: Part 2 - The Result and Log monads</div></a>
  </li>
  <li class="post-item">
    <div class="meta">Jul 17, 2016 &mdash;</div>
    <a href="https://medium.com/@afcastano/monads-for-java-developers-part-1-the-optional-monad-aa6e797b8a6e#.serdkuou1" target="_blank"><div>Monads for Java developers: Part 1 - The Optional monad</div></a>
  </li>
  <li class="post-item">
    <div class="meta">Jun 1, 2016 &mdash;</div>
    <a href="https://github.com/afcastano/elm-nested-component-communication" target="_blank"><div>Example of Sibling/Nested component communication in elm</div></a>
  </li>
</ul>
