---
layout: layouts/home.njk
permalink: /projects/
eleventyNavigation:
  key: Projects
  order: 3
---
<dl>
  <dt><a href="https://trolleyapp.co" target="_blank">https://trolleyapp.co</a> &mdash; </dt>
  <dd>I wrote a grocery shopping list app just for fun. It's a PWA inside an Android wrapper.</dd>

  <dt><a href="https://plugins.jetbrains.com/plugin/8091-autovalue-plugin" target="_blank">Autovalue IntelliJ plugin</a> &mdash;</dt>
  <dd>Simple plugin for generating AutoValue builders.</dd>
</dl>
