---
layout: layouts/home.njk
permalink: /talks/
eleventyNavigation:
  key: Talks
  order: 2
---
<ul class="blog">
  <li class="post-item">
    <div class="meta">Oct 12, 2017 &mdash;</div>
    <a href="https://www.youtube.com/watch?v=WRbMd0Qmpsc" target="_blank"><div>Refactoring for cost in Google Cloud - GDG Cloud Melbourne</div></a>
  </li>
  <li class="post-item">
    <div class="meta">Nov 2, 2016 &mdash;</div>
    <a href="https://www.youtube.com/watch?v=vePeILeSv4E" target="_blank"><div>Monads for Java developers - Melbourne Java and JVM Users Group</div></a>
  </li>
</ul>
